*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'DM Sans';
  background: rgba(235, 248, 248, 0.959);
}

/* WELCOME */

.welcome{
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  background: #DCE9E2;
  transform: (-1, 0, 0, 1, 0, 0);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
}

header p{
  color: #000000;
  font-size: 25px;
}

header p span{
  font-weight: bold;
  color: rgba(0, 133, 111, 1);

  
}

.menu-header{
  display: flex;
  gap: 35px;
}

.menu-header a{
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 133, 111, 1);
  text-decoration: none;  
}

.menu-header a:hover{
  border-bottom: 2px solid rgb(15, 85, 73);
  color: rgb(15, 85, 73);
  font-weight: bold;
}

.button-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: 1px solid rgba(0, 133, 111, 1);

  border-radius: 50px;
}

.button-header a{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 133, 111, 1);
}

.welcome-text-and-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#welcome-text-p-1{
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 133, 111, 1);
}

#welcome-text-p-2{
  font-size: 18px;
  line-height: 27px;
  width: 585px;
  height: 54px;
  color: rgba(73, 80, 87, 1);
}

.welcome-text h1{
  font-size: 52px;
  line-height: 67.6px;
  font-weight: 700;
  color: #000000;
  width: 605px;
  height: 136px;
}

.welcome-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 52px;
  background: rgba(0, 133, 111, 1);
  gap: 15px;
  border-radius: 40px;
}

.welcome-btn a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

/* STATISTICS */

.statistics{
  display: flex;
  justify-content: center;
  background: rgba(235, 248, 248, 0.959);
}

.statistics-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 100px;
  margin-top: -110px;
  background:#FFFFFF;
  gap: 100px;
  border-radius: 6px;
}

.statistics-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 62.4px;
}

.statistics-card h1{
  font-size: 48px;
  font-weight: 700;
}

.statistics-card p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 133, 111, 1);
}

.statistics-line{
  border: 1px solid rgba(0, 133, 111, 1);
  height: 83px;
  opacity: 50%;
}

/* SERVICES */

.services{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 200px 0;
}

.services-tittle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#services-p{
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 133, 111, 1);
  text-transform: uppercase;
}

#services-h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  width: 497px;
  height: 104px;
}

.services-cards{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services-card-part{
  display: flex;
  gap: 40px;
  align-items: center;
}

.services-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FFFFFF;
  padding: 20px;

}

.services-card svg{
  border-radius: 50px;
  background: #DCE9E2;
  padding: 5px;
}

.services-card h1{
  font-size: 24px;
  font-weight: 700;
}

.services-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(73, 80, 87, 1);
  width: 299px;
  height: 72px;
}

/* ABOUT */

.about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  background: #f8f4ec;
}

#about-img-1{
  width: 480px;
  height: 414px;
}

#about-img-2{
  display: none;
}

.about-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#about-text-p-1{
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 133, 111, 1);
  text-transform: uppercase;
}

.about-text h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  width: 447px;
  height: 104px;
}

#about-text-p-2{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 573px;
  height: 168px;
  color: rgba(73, 80, 87, 1);
}

/* CONTACT */

.contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.contacts{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  width: 404px;
  height: 104px;
}

.contact-icons{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-icon{
  display: flex;
  gap: 10px;
}

.contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 267px;
  height: 56px;
  border-radius: 40px;
  gap: 16px;
  background: rgba(0, 133, 111, 1);
}

.contact-btn a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* FOOTER */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background: rgba(0, 133, 111, 1);
}

.footer-text{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-subtittle{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-subtittle p{
  font-size: 14px;
  font-weight: 400;

  color: #FFFFFF;
}

.social-media{
  display: flex;
  gap: 30px;
}

/* RESPONSIVE */

@media (max-width: 800px){

  .welcome{
    padding-bottom: 300px;
  }
  
  .welcome-text-and-img{
    display: flex;
    flex-direction: column;
  }

  .welcome-text{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }

  .welcome-text h1{
    width: 327px;
    height: 132px;
    font-size: 34px;
    line-height: 44.2px;
  }

  #welcome-text-p-2{
    width: 327px;
    height: 108px;
    font-size: 18px;
    text-align: center;
  }

  .welcome-btn{
    display: flex;
    margin-left: 30px;
  }

  #welcome-img{
    padding-top: 60px;
    width: 261.64px;
    height: 340.75px;
  }

  .statistics-cards{
    display: flex;
    flex-direction: column;
    width: 127px;
    height: 470px;
    margin-top: -300px;
  }

  .statistics-card h1{
    font-size: 48px;
  }

  .statistics-card p{
    font-size: 16px;
    width: 151px;
    height: 24px;
  }

  #statistics-card-p-2{
    width: 183px;
  }

  .statistics-line{
    display: none;
  }

  .services{
    padding: 150px 0;
    gap: 140px;
  }

  #services-h1{
    font-size: 30px;
    text-align: center;
    width: 314px;
    height: 117px;
  }

  .services-card-part{
    flex-direction: column;
  }

  .services-card h1{
    font-size: 24px;
  }

  .services-card p{
    font-size: 16px;
    line-height: 24px;
    width: 279px;
    height: 72x;
  }

  .about{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
  }

  #about-img-1{
    display: none;
  }

  #about-img-2{
    padding-top: 40px;
    display: flex;
    width: 327px;
    height: 282px;
  }

  .about-text{
    justify-content: center;
  }

  .about-text h1{
    font-size: 30px;
    width: 327px;
    height: 78px;
    line-height: 39.06px;
  }

  #about-text-p-2{
    font-size: 16px;
    line-height: 24px;
    width: 327px;
    height: 288px;
  }

  .contact{
    flex-direction: column;
    gap: 60px;
  }

  .contacts h1{
    font-size: 30px;
    line-height: 39.06px;
    width: 297px;
    height: 78px;
  }

  .contact img{
    width: 324px;
    height: 213px;
  }

  footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:50px 0;
  }

  .footer-text{
    gap: 25px;
  }

  .footer-text svg{
    width: 236px;
    height: 31px;
  }

  .footer-subtittle{
    gap: 15px;
  }

  .footer{
    display: flex;
    flex-direction: column;
    margin-right: 85px;
    gap: 30px;

  }
  
}



